<h2><%= @user.name %>'s Gallery Page</h2>

<% @user.pictures.each do |picture| %>
<h4><a href="/pictures/<%= picture.id %>"><%= picture.title %></a></h4>
  <img src="<%= picture.image_url %>" alt="<%= picture.title %>" height="200" width="auto">
   <p><%= picture.description %></p>
   <p>created on <%= picture.created_at %></p>
  <br><br>
<% end %>
