
<h3><%= @picture.title %></h3>
<img src="<%= @picture.image_url %>" alt="<%= @picture.title %>" height="auto" width="auto">
<p>Created by: <%= @picture.user.name %></p>
<p><%= @picture.description %></p>
<p>created on <%= @picture.created_at %></p>

<% if authorized_to_edit?(@picture) %>
<a href="/pictures/<%= @picture.id %>/edit">Edit Picture</a>
 <br><br>
<form class="" action="/pictures/<%= @picture.id %>/delete" method="post">
    <!-- To turn this form submission into a DELETE request -->
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete Picture">
  </form>
<% end %>
