<style>
img {
  float: left;
  padding: 18px
}

.page button:hover {
      background-color: #169ef8;
     
      cursor: pointer;
      color: white;
}
</style>

<section id="show" class="page">
<br><br>
<p><img src="<%= @picture.image_url %>" alt="<%= @picture.title %>" height="auto" width="auto"><br>
<strong>"<%= @picture.title %>"
by <%= @picture.user.name %></strong><br><br>
<%= @picture.description %></p>
<p>created on <%= @picture.formatted_created_at %></p>

<% if authorized_to_edit?(@picture) %>
<a href="/pictures/<%= @picture.id %>/edit"><button type="submit">Edit Picture</button></a>

<form class="" action="/pictures/<%= @picture.id %>/delete" method="post">
    <!-- To turn this form submission into a DELETE request -->
    <input type="hidden" name="_method" value="DELETE">
    
    <button type="submit">Delete Picture</button>
  </form>
<% end %>
</section>



